# Rust
/target
Cargo.lock

# Build artifacts
*.o
*.so
*.dylib
*.dll
*.exe
*.tar.gz
*.zip
*.rpm

# Packaging
target/debian/
staging/

# IDE
.idea
.vscode
*.swp
*.swo

# Temporary files
*.tmp
*.log
*.bak

# Benchmark artifacts
bench-results/
zing-test/
colab_bench.ipynb

# macOS
.DS_Store
.Trash

# Debug files
.debug
.pdb

sources/
packaging/