# Rust
/target
Cargo.lock

# Build artifacts
*.o
*.so
*.dylib
*.dll
*.exe

# IDE
.idea
.vscode
*.swp
*.swo

# Temporary files
*.tmp
*.log
*.bak

# Windows build
wix/*.obj
wix/*.pdb
wix/*.pch

# MacOS build
!target/release/bundle/osx/rxdl.app

# Debug files
.debug
.pdb

# OS-specific files
.DS_Store
.Trash


