<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product
        Id='*'
        Name='zing'
        UpgradeCode='7B5D3A1F-2C8E-4F6B-9D0A-1E2F3B4C5D6E'
        Manufacturer='TharukRenuja'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Description='Simple, modern, cross-platform HTTP downloader with adaptive connection management and concurrent segmented downloads.'
            Manufacturer='TharukRenuja'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            InstallPrivileges='elevated'
            SummaryCodepage='1252'
            Platform='$(var.Platform)'/>

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of zing is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='zing Installation [1]'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFiles64Folder' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='zing'>

                    <Component Id='License' Guid='*'>
                        <File Id='LicenseFile'
                            Name='LICENSE'
                            DiskId='1'
                            Source='..\..\LICENSE'
                            KeyPath='yes'/>
                    </Component>

                    <Directory Id='Bin' Name='bin'>
                        <Component Id='Path' Guid='8C526556-9121-4475-8025-131666465432' KeyPath='yes'>
                            <Environment
                                Id='PATH'
                                Name='PATH'
                                Value='[Bin]'
                                Permanent='no'
                                Part='last'
                                Action='set'
                                System='yes'/>
                        </Component>
                        <Component Id='binary0' Guid='*'>
                            <File
                                Id='exe0'
                                Name='zing.exe'
                                DiskId='1'
                                Source='$(var.CargoTargetDir)\release\zing.exe'
                                KeyPath='yes'/>
                        </Component>
                        <Component Id='binary1' Guid='*'>
                            <File
                                Id='exe1'
                                Name='zing-daemon.exe'
                                DiskId='1'
                                Source='$(var.CargoTargetDir)\release\zing-daemon.exe'
                                KeyPath='yes'/>
                            <ServiceInstall
                                Id='ServiceInstaller'
                                Type='ownProcess'
                                Name='zing-daemon'
                                DisplayName='zing Download Daemon'
                                Description='Background service for segmented HTTP downloads'
                                Start='auto'
                                Account='NT AUTHORITY\LocalSystem'
                                ErrorControl='normal'
                                Interactive='no'>
                                <ServiceDependency Id='Tcpip'/>
                            </ServiceInstall>
                            <ServiceControl
                                Id='ServiceController'
                                Name='zing-daemon'
                                Start='install'
                                Stop='both'
                                Remove='uninstall'
                                Wait='yes'/>
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>

        <Feature
            Id='Binaries'
            Title='Application'
            Description='Installs all binaries and the license.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>
            <ComponentRef Id='License'/>
            <ComponentRef Id='binary0'/>
            <ComponentRef Id='binary1'/>
            <Feature
                Id='Environment'
                Title='PATH Environment Variable'
                Description='Add the install location of zing to the PATH system environment variable.'
                Level='1'
                Absent='allow'>
                <ComponentRef Id='Path'/>
            </Feature>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        <Property Id='ARPHELPLINK' Value='https://github.com/TharukRenuja/zing'/>
        <WixVariable Id='WixUILicenseRtf' Value='cli\wix\License.rtf'/>

        <UI>
            <UIRef Id='WixUI_FeatureTree'/>
        </UI>

    </Product>

</Wix>
