<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="rxdl" Language="1033" Version="0.1.0" Manufacturer="TharukRenuja" UpgradeCode="PUT-GUID-HERE">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
        <MajorUpgrade DowngradeErrorMessage="A newer version of rxdl is already installed." />
        
        <Feature Id="ProductFeature" Title="rxdl" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>
    </Product>
    
    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="rxdl">
                    <Component Id="rxdlComponent" Guid="PUT-GUID-HERE">
                        <File Id="rxdlExe" Source="$(var.target.dir)\rxdl.exe" KeyPath="yes" />
                        <RemoveFolder Id="UninstallFolder" On="uninstall" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>
    </Fragment>
    
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="UninstallComponent" Guid="PUT-GUID-HERE">
                <RemoveFolder Id="UninstallFolder" On="uninstall" Directory="INSTALLFOLDER" />
                <RemoveRegistryValue Root="HKLM" Key="Software\TharukRenuja\rxdl" Value="Installed" Type="integer" On="uninstall" />
            </Component>
        </DirectoryRef>
    </Fragment>
    
    <Fragment>
        <UI>
            <Property Id="WIXUI_INSTALLDIR">INSTALLFOLDER</Property>
            <UIRef Id="WixUI_Minimal" />
        </UI>
    </Fragment>
    
    <Fragment>
        <InstallExecuteSequence>
            <RemoveExistingProducts After="InstallValidate" />
        </InstallExecuteSequence>
    </Fragment>
</Wix>